.bg-mynav {
    background-color: #2c3e50;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
    color: white !important;
}

.asteriskField {
    color: red;
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.custom-container {
    font-size: 24px;
    width: 50%;
    height: auto;
    outline: 1cm black;
    margin-left: 25%;


}.btn-custom-container {
    font-size: 24px;
    width:  75%;
    height: auto;
    outline: 1cm black;
    margin-left: 25%;
}

.btn-custom-child {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.custom-child {
    width: 100%;
    height: auto;
    margin: 0 auto;
}