# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/checkstyle-idea.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/artifacts/JS_REST_UATM_war.xml
/artifacts/JS_REST_UATM_war_exploded.xml
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_4.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_4.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_4.xml
/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_5_4.xml
/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_5_4.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_5_4.xml
/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml
/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/libraries/Maven__com_sun_jersey_jersey_client_1_8.xml
/libraries/Maven__com_sun_jersey_jersey_core_1_8.xml
/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/libraries/Maven__io_github_kishansital_authenticator_5_0_2.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__mysql_mysql_connector_java_8_0_27.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_11_20.xml
/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_4_0_b27.xml
/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_4_0_b27.xml
/libraries/Maven__org_glassfish_hk2_hk2_api_2_4_0_b27.xml
/libraries/Maven__org_glassfish_hk2_hk2_locator_2_4_0_b27.xml
/libraries/Maven__org_glassfish_hk2_hk2_utils_2_4_0_b27.xml
/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_20.xml
/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_2_20.xml
/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_20.xml
/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_20.xml
/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_20.xml
/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_20.xml
/libraries/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_20.xml
/libraries/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_20.xml
/libraries/Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_20.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_6_1_Final.xml
/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/misc.xml
/modules.xml
/vcs.xml
